*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{font-family: 'Courier New', Courier, monospace;
    background: blue;

 }
 .container{
    height: 100vh;
    background-size: cover;
 }

 .heading{

    text-align:center;
    margin: opx 0px 15px 0px;
    background: grey;
    color: white;
 }

 .heading h1{
font-size: 35px;

 }
 .heading p {
    margin-top: 8px;
    font-size: 14px;
}
.currencyInput {

display: flex;
flex-direction: column;
margin: 15px 0px;
width: 90%;
margin: 0 auto;

}
#dollar,#pound {
    margin: 0 auto;
    margin-top: 40px;
    border: none;
    padding: 20px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    width: 430px;



}
